/* Add your CSS to this file */

body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}
/*--------------------------Header--------------------------*/
header{
    background-color: white;
    font-size: 18px;
}

header.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*--------------------------Hero overview--------------------------*/

/*--------------------------Learn about--------------------------*/
.learn-about .container .cards{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2%;
}

.learn-about .container .card{
    display: grid;
    box-shadow: 0 4px #E2E8F0;
    border: 2px solid #E2E8F0;
    border-radius: 5px;
    grid-template-rows: auto auto auto;
}
.learn-about .container .card img{
    grid-row: 1;
    padding: 20px;
    /*justify-content: center;*/
    width: 300px;
    height: 240px;
    border-radius: 25%;
    margin: 0;
    justify-self: center;
}
.learn-about h2{
    color: #48BB78;
    font-size: 24px;
}
.learn-about .container .card h3{
    color: #48BB78;
    font-size: 21px;
    grid-row: 2;
    padding: 20px;
    margin: 0;
}
.learn-about .container .card p{
    margin: 0;
    padding: 20px;
}
/*--------------------------Testing--------------------------*/
.testing{
    background-color: #4A5568;
    color: white;
    padding: 60px;
}
.testing .container{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.cta{
    text-align: center;
    display: inline-block;
    grid-column: 2;
    background-color: #48BB78;
    border-radius: 5px;
    margin: auto;
    padding: 15px 25px;
}
.testing .cta .btn, a{
    background-color: #48BB78;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
/*--------------------------Stories--------------------------*/
.stories h2{
    color: #5A67D8;
}
.stories .container article .article-body h3{
    font-size: 18px;
}
.stories .container article .article-body a{
    color: #5A67D8;
}
.stories .container article{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 70%;
    margin: 20px;
}
.stories .container article img{
    width: 200px;
    height: 200px;
    border-radius: 90%;
}
/*--------------------------Newsletter--------------------------*/
.newsletter{

}
.newsletter .container{

}
form{

}
form button{

}
form input{

}
/*--------------------------Footer--------------------------*/
footer{
    background-color: #4A5568;
    color: white;
    padding: 20px;
    margin: 0;
}